.app_offpink_theme {
    --bg-color: #0d0117;
    --inverted-bg-color: #f4e5ff;
    --primary-color: #f4e5ff;
    --secondary-color: #f4e5ff;
    --inverted-primary-color: #032149;
    --inverted-secondary-color: #f4e5ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(255 255 255 / 20%);

    // code
    --code-bg: #3e2e4b;
}
